  {% extends 'base.html' %}
  {% block conteudo %}

            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Bem vindo</h1>
                            <!-- <p class="lead fw-normal text-muted mb-0">Let's work together!</p> -->
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <form method="POST" action="http://127.0.0.1:5000/home" id="contactForm"  data-sb-form-api-token="API_TOKEN">
                                    <!-- Name input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="data" id="data" type="date"  data-sb-validations="required" required />
                                        <label for="name">Data</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A data é requirida.</div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="hora" id="hora" type="time"  data-sb-validations="required" />
                                        <label for="name">Hora</label>
                                        <div class="invalid-feedback" data-sb-feedback="name:required">A data é requirida.</div>
                                    </div>
                                    <!-- Email address input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="email" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                        <label for="email">Email</label>
                                        <div class="invalid-feedback" data-sb-feedback="email:required">Email não valido.</div>
                                        <div class="invalid-feedback" data-sb-feedback="email:email">Email invalido.</div>
                                    </div>
                                    <!-- Phone number input-->
                                    <div class="form-floating mb-3">
                                        <input class="form-control" name="phone" id="phone" type="tel" placeholder="(12) 3456-7890" data-sb-validations="required" />
                                        <label for="phone">Numero</label>
                                        <div class="invalid-feedback" data-sb-feedback="phone:required">Numero invalido.</div>
                                    </div>
                                    <!-- Message input-->
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" name="message" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                        <label for="message">Mensagem</label>
                                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                    </div>                                
                                    <div class="d-grid"><button class="btn btn-primary btn-lg " id="submitButton" type="submit">Enviar</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experiencias</h2>
                </div>            

                {% set mensagem = get_flashed_messages()%}
                {%if mensagem%}
                    {%for i in mensagem%}
                        {%for msg in i%}

                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">{{msg[0]}}</div>
                                            <div class="small fw-bolder">{{msg[1]}}</div>
                                            <div class="small text-muted">{{msg[2]}}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8"><div>{{msg[3]}}</div></div>
                                </div>
                            </div>
                        </div>

                            
                        {% endfor %}

                    {% endfor %}
                {%endif%}

            </section>

            {% endblock  %}
      
