{% extends 'base.html' %} {% block conteudo %}

<!-- Projects Section-->
<section class="py-5">
  <div class="container px-5 mb-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Contatos</span>
      </h1>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-11 col-xl-9 col-xxl-8">
        <!-- Project Card 1-->
        <div
          class="card overflow-hidden shadow rounded-4 border-0 mb-5 align-items-center"
        >
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Douglas Silva</h2>
                <p>Desenvolvedor</p>
                <div class="container px-5">
                  <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                      <div class="text-center my-5">
                        <div class="d-flex justify-content-center fs-2 gap-4">
                          <a
                            class="text-gradient"
                            href="https://wa.me/5537999775765"
                            ><i class="bi bi-whatsapp"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://www.linkedin.com/in/douglas-silva-122aa01b6"
                            ><i class="bi bi-linkedin"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://github.com/dhrds"
                            ><i class="bi bi-github"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card overflow-hidden shadow rounded-4 border-0 mb-5 align-items-center"
        >
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Guilherme Lima</h2>
                <p>Desenvolvedor</p>
                <div class="container px-5">
                  <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                      <div class="text-center my-5">
                        <div class="d-flex justify-content-center fs-2 gap-4">
                          <a
                            class="text-gradient"
                            href="https://wa.me/5537998711920"
                            ><i class="bi bi-whatsapp"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://www.linkedin.com/in/guilherme-lima-732b7683"
                            ><i class="bi bi-linkedin"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://github.com/GuiDev182"
                            ><i class="bi bi-github"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card overflow-hidden shadow rounded-4 border-0 mb-5 align-items-center"
        >
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Kringer</h2>
                <p>Desenvolvedor</p>
                <div class="container px-5">
                  <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                      <div class="text-center my-5">
                        <div class="d-flex justify-content-center fs-2 gap-4">
                          <a
                            class="text-gradient"
                            href="https://wa.me/5537999775765"
                            ><i class="bi bi-whatsapp"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://www.linkedin.com/in/douglas-silva-122aa01b6"
                            ><i class="bi bi-linkedin"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://github.com/dhrds"
                            ><i class="bi bi-github"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card overflow-hidden shadow rounded-4 border-0 mb-5 align-items-center"
        >
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Lindamara Meireles Costa</h2>
                <p>Desenvolvedora</p>
                <div class="container px-5">
                  <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                      <div class="text-center my-5">
                        <div class="d-flex justify-content-center fs-2 gap-4">
                          <a
                            class="text-gradient"
                            href="https://wa.me/5537998610747"
                            ><i class="bi bi-whatsapp"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="mailto:lindacosta020895@gmail.com"
                            ><i class="bi bi-envelope"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://github.com/dhrds"
                            ><i class="bi bi-github"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card overflow-hidden shadow rounded-4 border-0 mb-5 align-items-center"
        >
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">Antônio Clério das chagas</h2>
                <p>Desenvolvedor</p>
                <div class="container px-5">
                  <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                      <div class="text-center my-5">
                        <div class="d-flex justify-content-center fs-2 gap-4">
                          <a
                            class="text-gradient"
                            href="https://wa.me/5537984071323"
                            ><i class="bi bi-whatsapp"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://www.linkedin.com/in/ant%C3%B4nio-cl%C3%A9rio-das-chagas-7a223a15a/"
                            ><i class="bi bi-linkedin"></i
                          ></a>
                          <a
                            class="text-gradient"
                            href="https://github.com/cleriochagas"
                            ><i class="bi bi-github"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
    <div class="text-center">
      <h2 class="display-4 fw-bolder mb-4">"Não deixe para depois o que você pode enviar agora"</h2>
      <a
        class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder"
        href="home"
        >Voltar para Página inicial</a
      >
    </div>
  </div>
</section>

{% endblock %}
