.conteiner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(41, 41, 41),rgb(47, 207, 224));

}
.title{
  font-size: 85px;
  color: white;
  animation: fliptitle 1.5s;
}
.user{
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  margin: 5px;
  outline: none;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 3px;
  text-align: center;
}
.senha{
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  margin: 5px;
  outline: none;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;

}

.button-login{
  width: 50px;
  border: 0;
  background-color: transparent;
  cursor:pointer;


}
.cadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}


 @keyframes fliptitle {
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotateX(0deg);
  }
 }
@media (max-width:360px) {
  .title{
    font-size: 50px;
  }
  .user{
    width: 230px;
    
  }
  .senha{
    width: 230px;
    
  
  }
}